.titulo-laranja {
  color: #cd7b53;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.place-info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  /*height: 120px;*/
  width: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
.place-info-box-icon > img {
  max-width: 100%;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.col-comp-margem{
    text-align: left;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
}
