<div class="container">


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="row"><!--titulo do serviço-->
          <div class="col-xs-12">
            <div class="box box-solid" >
              <div class="box-header with-border">
                <i class="fa fa-plus-square"></i>
                <h3 class="box-title">ODONTOGRAMA</h3>
              </div>
              <div class="box-body">

                  <mt-menu-servico></mt-menu-servico>

              </div>
              <div class="box-footer detail-footer">
                <a   class="search-link pull-left" (click)="clickConfirmar()"><b><i class="fa fa-plus-square"></i> Confirmar</b></a>
                <a   class="search-link pull-right"><b><i class="fa fa-reply-all" data-dismiss="modal"></i>Cancelar</b></a>
              </div>
            </div>
          </div>
      </div>

    </div>


  </div>
</div>

</div>
