<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Data X | Oferece completos serviços de odontologia diagnóstica no Estado do Rio de Janeiro
    </p>

    <p class="lead">Site (<a href="http://clinicadatax.com.br/">http://clinicadatax.com.br/</a>)</p>
    <p class="lead">Há doze anos no mercado, a Clínica Data X oferece completos serviços de odontologia diagnóstica no Estado do Rio de Janeiro.</p>
    <p class="lead">A qualidade dos exames realizados em equipamentos digitais de última geração, a padronização das suas unidades, o foco no treinamento de sua equipe e a sua localização em pontos privilegiados, são seus principais diferenciais no mercado. Além disso, a tecnologia digital utilizada pela clínica não usa produtos químicos e água na revelação dos filmes, preservando o meio ambiente.</p>
    <p class="lead">A Data X possui modernas e confortáveis unidades nos bairros de Botafogo, Tijuca e Barra da Tijuca, no Rio de Janeiro, e Icaraí, em Niterói. Todas possuem equipamentos de alta tecnologia onde são realizados exames de Tomografia Computadorizada Cone Beam (i-CAT®), Radiologia Digital e Documentações Ortodônticas. A parceria entre a empresa e uma ampla rede de convênios facilita o acesso dos seus clientes a diversos exames.</p>
    <p class="lead">Visando a qualidade do atendimento, a Data X mantém rígidos processos de biossegurança.
A empresa está focada na melhoria contínua de seus procedimentos para garantir a credibilidade dos seus serviços e atender seus clientes de maneira individualizada e cada vez mais eficaz.</p>
    <br>
    <br>
    <br>
    <br>
    <p class="lead">
      Sistema desenvolvido by Specify Solution - Agência de workflow digital
    </p>
  </section>
<!-- FIM DO CONTEÚDO -->
