<!-- INíCIO do CONTEÚDO -->

<section class="content-header">
  <h1>
    Todos os Serviços
    <a (click)="toggleSearch()" class="search-link pull-right">
      <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span>
        <i class="fa fa-search"></i>
    </a>
  </h1>

  <div class="row"><!-- barra de busca -->
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" #iptSearch formControlName="searchControl"
                 class="form-control" placeholder="O que você está procurando?">
        </div>
      </form>
    </div>
  </div>

</section>

<section class="content">

  <div class="row"><!-- Serviços -->
    <div *ngFor="let servico of servicos" class="col-sm-6 col-xs-12">
      <mt-servico [servico]= "servico"></mt-servico><!-- Serviços -->
    </div>
    <div *ngIf="servicos?.length === 0" class="col-sm-12"><!-- msg nao encontrado servico -->
        <p class="lead text-center">
          Não foram encontrados itens para a sua busca!!!
        </p>
    </div>
  </div>
  <div class="row"><!-- lista exames solicitados -->
    <div class="col-sm-12 col-xs-12">
      <mt-servicos-lista-req></mt-servicos-lista-req>
    </div>
  </div>

</section>

<!-- FIM  do CONTEÚDO -->
