  <svg class="place-box-icon2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 581 201" style="border:solid 1px #000000;" border="1"
    [@menuItemAppeared]="menuItemState">
      <defs>
        <style>

          svg {
            background-image: url("assets/img/odontograma.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            max-width: 100%;
            height: auto;
          }
          path {
            fill: transparent;
            cursor: pointer;
          }
        </style>
      </defs>


        <image *ngIf="itensOdontograma.isBotao18" href="assets/img/odontograma/odontograma_branco18.png"></image>
        <image *ngIf="itensOdontograma.isBotao17" href="assets/img/odontograma/odontograma_branco17.png"></image>
        <image *ngIf="itensOdontograma.isBotao16" href="assets/img/odontograma/odontograma_branco16.png"></image>
        <image *ngIf="itensOdontograma.isBotao15" href="assets/img/odontograma/odontograma_branco15.png"></image>
        <image *ngIf="itensOdontograma.isBotao14" href="assets/img/odontograma/odontograma_branco14.png"></image>
        <image *ngIf="itensOdontograma.isBotao13" href="assets/img/odontograma/odontograma_branco13.png"></image>
        <image *ngIf="itensOdontograma.isBotao12" href="assets/img/odontograma/odontograma_branco12.png"></image>
        <image *ngIf="itensOdontograma.isBotao11" href="assets/img/odontograma/odontograma_branco11.png"></image>

        <image *ngIf="itensOdontograma.isBotao21" href="assets/img/odontograma/odontograma_branco21.png"></image>
        <image *ngIf="itensOdontograma.isBotao22" href="assets/img/odontograma/odontograma_branco22.png"></image>
        <image *ngIf="itensOdontograma.isBotao23" href="assets/img/odontograma/odontograma_branco23.png"></image>
        <image *ngIf="itensOdontograma.isBotao24" href="assets/img/odontograma/odontograma_branco24.png"></image>
        <image *ngIf="itensOdontograma.isBotao25" href="assets/img/odontograma/odontograma_branco25.png"></image>
        <image *ngIf="itensOdontograma.isBotao26" href="assets/img/odontograma/odontograma_branco26.png"></image>
        <image *ngIf="itensOdontograma.isBotao27" href="assets/img/odontograma/odontograma_branco27.png"></image>
        <image *ngIf="itensOdontograma.isBotao28" href="assets/img/odontograma/odontograma_branco28.png"></image>

        <image *ngIf="itensOdontograma.isBotao55" href="assets/img/odontograma/odontograma_branco55.png"></image>
        <image *ngIf="itensOdontograma.isBotao54" href="assets/img/odontograma/odontograma_branco54.png"></image>
        <image *ngIf="itensOdontograma.isBotao53" href="assets/img/odontograma/odontograma_branco53.png"></image>
        <image *ngIf="itensOdontograma.isBotao52" href="assets/img/odontograma/odontograma_branco52.png"></image>
        <image *ngIf="itensOdontograma.isBotao51" href="assets/img/odontograma/odontograma_branco51.png"></image>

        <image *ngIf="itensOdontograma.isBotao61" href="assets/img/odontograma/odontograma_branco61.png"></image>
        <image *ngIf="itensOdontograma.isBotao62" href="assets/img/odontograma/odontograma_branco62.png"></image>
        <image *ngIf="itensOdontograma.isBotao63" href="assets/img/odontograma/odontograma_branco63.png"></image>
        <image *ngIf="itensOdontograma.isBotao64" href="assets/img/odontograma/odontograma_branco64.png"></image>
        <image *ngIf="itensOdontograma.isBotao65" href="assets/img/odontograma/odontograma_branco65.png"></image>

        <image *ngIf="itensOdontograma.isBotao85" href="assets/img/odontograma/odontograma_branco85.png"></image>
        <image *ngIf="itensOdontograma.isBotao84" href="assets/img/odontograma/odontograma_branco84.png"></image>
        <image *ngIf="itensOdontograma.isBotao83" href="assets/img/odontograma/odontograma_branco83.png"></image>
        <image *ngIf="itensOdontograma.isBotao82" href="assets/img/odontograma/odontograma_branco82.png"></image>
        <image *ngIf="itensOdontograma.isBotao81" href="assets/img/odontograma/odontograma_branco81.png"></image>

        <image *ngIf="itensOdontograma.isBotao71" href="assets/img/odontograma/odontograma_branco71.png"></image>
        <image *ngIf="itensOdontograma.isBotao72" href="assets/img/odontograma/odontograma_branco72.png"></image>
        <image *ngIf="itensOdontograma.isBotao73" href="assets/img/odontograma/odontograma_branco73.png"></image>
        <image *ngIf="itensOdontograma.isBotao74" href="assets/img/odontograma/odontograma_branco74.png"></image>
        <image *ngIf="itensOdontograma.isBotao75" href="assets/img/odontograma/odontograma_branco75.png"></image>

        <image *ngIf="itensOdontograma.isBotao48" href="assets/img/odontograma/odontograma_branco48.png"></image>
        <image *ngIf="itensOdontograma.isBotao47" href="assets/img/odontograma/odontograma_branco47.png"></image>
        <image *ngIf="itensOdontograma.isBotao46" href="assets/img/odontograma/odontograma_branco46.png"></image>
        <image *ngIf="itensOdontograma.isBotao45" href="assets/img/odontograma/odontograma_branco45.png"></image>
        <image *ngIf="itensOdontograma.isBotao44" href="assets/img/odontograma/odontograma_branco44.png"></image>
        <image *ngIf="itensOdontograma.isBotao43" href="assets/img/odontograma/odontograma_branco43.png"></image>
        <image *ngIf="itensOdontograma.isBotao42" href="assets/img/odontograma/odontograma_branco42.png"></image>
        <image *ngIf="itensOdontograma.isBotao41" href="assets/img/odontograma/odontograma_branco41.png"></image>

        <image *ngIf="itensOdontograma.isBotao31" href="assets/img/odontograma/odontograma_branco31.png"></image>
        <image *ngIf="itensOdontograma.isBotao32" href="assets/img/odontograma/odontograma_branco32.png"></image>
        <image *ngIf="itensOdontograma.isBotao33" href="assets/img/odontograma/odontograma_branco33.png"></image>
        <image *ngIf="itensOdontograma.isBotao34" href="assets/img/odontograma/odontograma_branco34.png"></image>
        <image *ngIf="itensOdontograma.isBotao35" href="assets/img/odontograma/odontograma_branco35.png"></image>
        <image *ngIf="itensOdontograma.isBotao36" href="assets/img/odontograma/odontograma_branco36.png"></image>
        <image *ngIf="itensOdontograma.isBotao37" href="assets/img/odontograma/odontograma_branco37.png"></image>
        <image *ngIf="itensOdontograma.isBotao38" href="assets/img/odontograma/odontograma_branco38.png"></image>


        <a (click)="clickBotao('18')" target="_blank">
          <path d="M 30 16 L 59 16 59 40 30 40  z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('17')" target="_blank">
          <path d="M 64 16 L 90 16 90 40 64 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('16')" target="_blank">
          <path d="M 96 16 L 122 16 122 40 96 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('15')" target="_blank">
          <path d="M 126 16 L 154 16 154 40 126 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('14')" target="_blank">
          <path d="M 156 16 L 183 16 183 40 156 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('13')" target="_blank">
          <path d="M 187 16 L 215 16 215 40 187 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('12')" target="_blank">
          <path d="M 219 16 L 247 16 247 40 219 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('11')" target="_blank">
          <path d="M 250 16 L 275 16 275 40 250 40 z"
           stroke-width="3"/>
        </a>

        <a (click)="clickBotao('21')" target="_blank">
          <path d="M 309 16 L 339 16 339 40 309 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('22')" target="_blank">
          <path d="M 342 16 L 369 16 369 40 342 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('23')" target="_blank">
          <path d="M 371 16 L 401 16 401 40 371 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('24')" target="_blank">
          <path d="M 403 16 L 430 16 430 40 403 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('25')" target="_blank">
          <path d="M 435 16 L 463 16 463 40 435 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('26')" target="_blank">
          <path d="M 465 16 L 494 16 494 40 465 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('27')" target="_blank">
          <path d="M 496 16 L 524 16 524 40 496 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('28')" target="_blank">
          <path d="M 528 16 L 555 16 555 40 528 40 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('55')" target="_blank">
          <path d="M 126 62 L 155 62 155 88 126 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('54')" target="_blank">
          <path d="M 158 62 L 186 62 186 88 158 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('53')" target="_blank">
          <path d="M 188 62 L 216 62 216 88 188 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('52')" target="_blank">
          <path d="M 220 62 L 247 62 247 88 220 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('51')" target="_blank">
          <path d="M 252 62 L 278 62 278 88 252 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('61')" target="_blank">
          <path d="M 311 62 L 338 62 338 88 311 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('62')" target="_blank">
          <path d="M 343 62 L 371 62 371 88 343 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('63')" target="_blank">
          <path d="M 375 62 L 401 62 401 88 375 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('64')" target="_blank">
          <path d="M 407 62 L 432 62 432 88 407 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('65')" target="_blank">
          <path d="M 437 62 L 464 62 464 88 437 88 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('85')" target="_blank">
          <path d="M 126 137 L 155 137 155 114 126 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('84')" target="_blank">
          <path d="M 159 137 L 186 137 186 114 159 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('83')" target="_blank">
          <path d="M 190 137 L 217 137 217 114 190 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('82')" target="_blank">
          <path d="M 222 137 L 249 137 249 114 222 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('81')" target="_blank">
          <path d="M 253 137 L 278 137 278 114 253 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('71')" target="_blank">
          <path d="M 314 137 L 338 137 338 114 314 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('72')" target="_blank">
          <path d="M 344 137 L 371 137 371 114 344 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('73')" target="_blank">
          <path d="M 376 137 L 402 137 402 114 376 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('74')" target="_blank">
          <path d="M 407 137 L 432 137 432 114 407 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('75')" target="_blank">
          <path d="M 438 137 L 466 137 466 114 438 114 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('48')" target="_blank">
          <path d="M 31 184 L 60 184 60 159 31 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('47')" target="_blank">
          <path d="M 65 184 L 93 184 93 159 65 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('46')" target="_blank">
          <path d="M 96 184 L 123 184 123 159 96 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('45')" target="_blank">
          <path d="M 127 184 L 155 184 155 159 127 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('44')" target="_blank">
          <path d="M 159 184 L 185 184 185 159 159 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('43')" target="_blank">
          <path d="M 190 184 L 216 184 216 159 190 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('42')" target="_blank">
          <path d="M 221 184 L 247 184 247 159 221 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('41')" target="_blank">
          <path d="M 251 184 L 276 184 276 159 251 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('31')" target="_blank">
          <path d="M 312 184 L 337 184 337 159 312 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('32')" target="_blank">
          <path d="M 343 184 L 370 184 370 159 343 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('33')" target="_blank">
          <path d="M 375 184 L 401 184 401 159 375 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('34')" target="_blank">
          <path d="M 407 184 L 432 184 432 159 407 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('35')" target="_blank">
          <path d="M 437 184 L 465 184 465 159 437 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('36')" target="_blank">
          <path d="M 468 184 L 494 184 494 159 468 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('37')" target="_blank">
          <path d="M 500 184 L 527 184 527 159 500 159 z"
           stroke-width="3"/>
        </a>
        <a (click)="clickBotao('38')" target="_blank">
          <path d="M 531 184 L 556 184 556 159 531 159 z"
           stroke-width="3"/>
        </a>
    </svg>
