
<div class="row col-comp-margem"><!-- marcação dentes -->

    <div  id="div-top-esq" class="col-xs-12 col-sm-6 col-comp-margem alt-linha">
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag18" /></span>
      </a>
      <a   (click)="clickBotao17()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag17" /></span>
      </a>
      <a   (click)="clickBotao16()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag16" /></span>
      </a>
      <a   (click)="clickBotao15()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag15" /></span>
      </a>
      <a   (click)="clickBotao14()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag14" /></span>
      </a>
      <a   (click)="clickBotao13()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag13" /></span>
      </a>
      <a   (click)="clickBotao12()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag12" /></span>
      </a>
      <a   (click)="clickBotao11()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag11" /></span>
      </a>


    </div>
    <div  id="div-top-dir" class="col-xs-12 col-sm-6 col-comp-margem alt-linha">
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
    </div>
    <div  id="div-top-esq" class="row col-xs-12 col-sm-6 col-comp-margem alt-linha">
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>

    </div>
    <div  id="div-top-dir" class="row col-xs-12 col-sm-6 col-comp-margem alt-linha">
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>
      <a   (click)="clickBotao18()" class="btn btn-link btn-custom">
      <span class="place-box-icon"><img [src]="imag" /></span>
      </a>

    </div>
    <div class="row col-md-12"></div> <!--linha divisora-->
    <div class="row col-md-12"></div> <!--linha divisora-->
    <div class="row col-md-12"></div> <!--linha divisora-->
    <div  id="div-top-esq" class="row col-xs-12 col-sm-6 col-comp-margem">
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao85()"
                      [ngStyle] = "{'color': (isBotao85 ? 'red' : 'black')}">85</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao84()"
                      [ngStyle] = "{'color': (isBotao84 ? 'red' : 'black')}">84</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao83()"
                      [ngStyle] = "{'color': (isBotao83 ? 'red' : 'black')}">83</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao82()"
                      [ngStyle] = "{'color': (isBotao82 ? 'red' : 'black')}">82</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao81()"
                      [ngStyle] = "{'color': (isBotao81 ? 'red' : 'black')}">81</button>
    </div>
    <div  id="div-top-dir" class="row col-xs-12 col-sm-6 col-comp-margem">
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao71()"
                      [ngStyle] = "{'color': (isBotao71 ? 'red' : 'black')}">71</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao72()"
                      [ngStyle] = "{'color': (isBotao72 ? 'red' : 'black')}">72</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao73()"
                      [ngStyle] = "{'color': (isBotao73 ? 'red' : 'black')}">73</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao74()"
                      [ngStyle] = "{'color': (isBotao74 ? 'red' : 'black')}">74</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao75()"
                      [ngStyle] = "{'color': (isBotao75 ? 'red' : 'black')}">75</button>
    </div>
    <div  id="div-top-esq" class="row col-xs-12 col-sm-6 col-comp-margem">
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao48()"
                      [ngStyle] = "{'color': (isBotao48 ? 'red' : 'black')}">48</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao47()"
                      [ngStyle] = "{'color': (isBotao47 ? 'red' : 'black')}">47</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao46()"
                      [ngStyle] = "{'color': (isBotao46 ? 'red' : 'black')}">46</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao45()"
                      [ngStyle] = "{'color': (isBotao45 ? 'red' : 'black')}">45</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao44()"
                      [ngStyle] = "{'color': (isBotao44 ? 'red' : 'black')}">44</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao43()"
                      [ngStyle] = "{'color': (isBotao43 ? 'red' : 'black')}">43</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao42()"
                      [ngStyle] = "{'color': (isBotao42 ? 'red' : 'black')}">42</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao41()"
                      [ngStyle] = "{'color': (isBotao41 ? 'red' : 'black')}">41</button>
    </div>
    <div  id="div-top-dir" class="row col-xs-12 col-sm-6 col-comp-margem">
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao31()"
                      [ngStyle] = "{'color': (isBotao31 ? 'red' : 'black')}">31</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao32()"
                      [ngStyle] = "{'color': (isBotao32 ? 'red' : 'black')}">32</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao33()"
                      [ngStyle] = "{'color': (isBotao33 ? 'red' : 'black')}">33</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao34()"
                      [ngStyle] = "{'color': (isBotao34 ? 'red' : 'black')}">34</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao35()"
                      [ngStyle] = "{'color': (isBotao35 ? 'red' : 'black')}">35</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao36()"
                      [ngStyle] = "{'color': (isBotao36 ? 'red' : 'black')}">36</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao37()"
                      [ngStyle] = "{'color': (isBotao37 ? 'red' : 'black')}">37</button>
      <button type="button" class="btn btn-link titulo-botao-top"
                      (click)="clickBotao38()"
                      [ngStyle] = "{'color': (isBotao38 ? 'red' : 'black')}">38</button>
    </div>
</div>
<p>

</p>
