
  <div [@servicoAppeared]="ServicoState">

    <div class="col-sm-6 col-xs-12"><!-- TOMOGRAFIA COMPUTADORIZADA -->
        <!--<a href="servico-detail">-->
        <a [routerLink]="['/servico-detail']">
          <div class="place-info-box">
            <span class="place-info-box-icon"><img src="assets/img/servicos/icon_icat2.png" /></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text">TOMOGRAFIA COMPUTADORIZADA</span>
              <span class="place-info-box-star"><i class="fa fa-star"></i></span>
              <span class="place-info-box-detail">A Tomografia Computadorizada Cone Beam (i-CAT®) fornece uma completa visualização de todas as estruturas ósseas orais e maxilofaciais, permitindo que especialistas tenham uma maior segurança ao realizar o plano de tratamento do paciente.</span>
              <!--<span class="place-info-box-detail">Enquanto as radiografias convencionais projetam em apenas um plano todas as estruturas percorridas pelo Raio X, a Tomografia Computadorizada (TC) permite a visualização das imagens de forma segmentada.</span>-->
            </div>
          </div>
        </a>
    </div>
    <div class="col-sm-6 col-xs-12"><!-- RADIOLOGIA DIGITAL -->
        <a href="detail-restaurant.html">
          <div class="place-info-box">
            <span class="place-info-box-icon"><img src="assets/img/servicos/icon_doc_rad.png" /></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text">RADIOLOGIA DIGITAL</span>
              <span class="place-info-box-star"><i class="fa fa-star"></i></span>
              <span class="place-info-box-detail">Radiografias Panorâmicas, Cefalométricas e Periapicais. A tecnologia digital produz imagens de maior nitidez em relação aos aparelhos convencionais, podendo ser entregues impressas, em mídias digitais ou simplesmente visualizadas pela internet.</span>
              <!--<span class="place-info-box-detail">A Data X possui aparelhos de última geração e de excelente qualidade que realizam radiografias Panorâmicas, Cefalométricas e Periapicais. A tecnologia digital produz imagens de maior nitidez em relação aos aparelhos convencionais, podendo ser entregues impressas, em mídias digitais ou simplesmente visualizadas pela internet.</span>
              <span class="place-info-box-detail">Além disso, a radiação emitida pelos aparelhos de RX digitais é reduzida comparando-se aos aparelhos convencionais.</span>-->
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-6 col-xs-12"><!-- DOCUMENTAÇÕES ORTODÔNTICAS -->
        <a href="detail-restaurant.html">
          <div class="place-info-box">
            <span class="place-info-box-icon"><img src="assets/img/servicos/icon_doc_ort.png" /></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text">DOCUMENTAÇÕES ORTODÔNTICAS</span>
              <span class="place-info-box-star"><i class="fa fa-star"></i></span>
              <span class="place-info-box-detail">Exames necessários para o planejamento do tratamento ortodôntico e de reabilitação oral. Os exames incluem fotografia intra-oral e extra-oral, modelos zocalados e traçados cefalométricos.</span>
              <!--<span class="place-info-box-detail">Além disso, a radiação emitida pelos aparelhos de RX digitais é reduzida comparando-se aos aparelhos convencionais.</span>-->
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
    </div>
    <div class="col-sm-6 col-xs-12"><!-- Escaneamento intra-oral -->
        <a href="detail-restaurant.html">
          <div class="place-info-box">
            <span class="place-info-box-icon"><img src="assets/img/servicos/icon_escaneamento_intra.png" /></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text">ESCANEAMENTO INTRAORAL</span>
              <span class="place-info-box-star"><i class="fa fa-universal-access fa-2x" aria-hidden="true"></i></span>
              <span class="place-info-box-detail">O escaneamento intraoral permite a obtenção de modelos 3D de forma rápida e é obtida de forma direta, livre de eventuais falhas como no processo de registro em cera.</span>
              <!--<span class="place-info-box-detail">Além disso, a radiação emitida pelos aparelhos de RX digitais é reduzida comparando-se aos aparelhos convencionais.</span>-->
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
    </div>

  </div>
