.Inf-opcao-erro {
  color: #cd7b53;
  font-size:11px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}

.Inf-opcao-ok {
  color: #33cc35;
  font-size:11px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}
