<!-- INICIO DO CONTEUDO -->
<section class="content-header">
</section>

<section class="content">
  <div class="row"><!--titulo do serviço-->
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-plus-square"></i>
            <h3 class="box-title">REQUISIÇÃO DE EXAMES CONCLUÍDA</h3>
          </div>
          <div class="box-body">
            <div class="col-sm-4 col-xs-12" >
              <span class="place-info-box-icon"><img src="assets/img/logo data x.png" /></span>
            </div>
            <dl class="col-sm-8 col-xs-12" >
              <dl class="col-sm-9 col-xs-12" >
                <dt class='unidades'>UNIDADES</dt>
              </dl>
              <dl class="row col-sm-4 col-xs-12" >
                <dt class='titulo-laranja' >DATA-X BARRA I</dt>
                <dd class='endereco'>Av. das Américas, 500, bloco 13, loja 124</dd>
                <dd class='endereco'>Shopping Downtown</dd>
              </dl>
              <dl class="col-sm-4 col-xs-12" >
                <dt class='titulo-laranja' >DATA-X BOTAFOGO</dt>
                <dd class='endereco'>Rua Real Grandeza, 108, sala 119</dd>
                <dd class='endereco'>Real Medical Center</dd>
              </dl>
              <dl class="col-sm-4 col-xs-12" >
                <dt class='titulo-laranja' >DATA-X ICARAÍ</dt>
                <dd class='endereco'>Rua Miguel de Frias, 206, sala 308</dd>
                <dd class='endereco'>Niterói - RJ</dd>
              </dl>
              <dl class="row col-sm-4 col-xs-12 alt-linha" >
                <dt class='titulo-laranja' >DATA-X BARRA II</dt>
                <dd class='endereco'>Av. das Américas, 7935, sala 225, bl. A</dd>
                <dd class='endereco'>Edifício Sunplaza - Américas Park</dd>
              </dl>
              <dl class="col-sm-4 col-xs-12 alt-linha" >
                <dt class='titulo-laranja' >DATA-X CENTRO</dt>
                <dd class='endereco'>Av. Rio Branco, 156, sala 2316</dd>
                <dd class='endereco'>Edifício Avenida Central</dd>
              </dl>
              <dl class="col-sm-4 col-xs-12 alt-linha" >
                <dt class='titulo-laranja' >DATA-X TIJUCA</dt>
                <dd class='endereco'>Rua Santo Afonso, 131, sala 201</dd>
                <dd class='endereco'>Tijuca Office</dd>
              </dl>
            </dl>
            <div class="jumbotron">
              <h2>Requisição de exames Concluído</h2>
              <p>Sua requisição foi recebida e está disponibilizada para as unidades para o atendimento ao paciente!</p>
              <p><b>Avalie</b> sua experiência:</p>
              <p><mt-rating (rated)="rate()"></mt-rating></p>
              <p *ngIf="rated">
                Obrigado pela sua avaliação!
              </p>
            </div>
          </div>

        </div>
      </div>
  </div>



</section>
<!-- FIM DO CONTEUDO -->
